<html>
<head>
  <title>Clean something for nothing</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <script src="vendor/vue.min.js"></script>
  <link href="css/main.css" rel="stylesheet">
  <link rel="icon" href="./favicon.ico">
</head>
<body>

  <div id="main">
    <img src="img/spinner.svg" alt="Loading" class="spinner" v-if="checking"/>

    <div class="error" :class="{visible: invalid}">
      <img src="img/alert.svg" alt="Alert icon" class="icon"/><br>
      <h2 v-if="!unknownError">The link is incorrect or has expired</h2>
      <p v-if="!unknownError">Request a new one in the app</p>
      <h2 v-else>Unknown error, please try again later</h2>
    </div>

    <div class="success" :class="{visible: success}">
      <img src="img/checkmark-circle-outline.svg" alt="Success icon" class="icon"/>
      <h2>Password updated successfully!</h2>
    </div>

    <div v-if="!invalid && !checking && !success" class="content">
      <img src="img/icon.png" alt="Clean something for nothing icon" class="logo"/>
      <h2>Reset your password</h2>
      <form @submit.prevent="submit">
        <div class="input-wrapper">
          <div class="input-container"
               :class="{'errored': submitted && (!email || !validEmail(email) || invalidEmail)}">
            <img src="img/mail.svg" alt="Email icon"/>
            <input type="text" placeholder="Email" v-model="email"/>
          </div>
        </div>
        <div class="error-message" v-if="submitted && (!email || !validEmail(email) || invalidEmail)">The email is not valid</div>
        <div class="input-wrapper">
          <div class="input-container" :class="{'errored': submitted && (!password || !validPassword(password))}">
            <img src="img/lock-closed.svg" alt="Password icon"/>
            <input autocomplete="none" type="password" placeholder="New password" v-model="password">
          </div>
        </div>
        <div class="error-message" v-if="submitted && (!password || !validPassword(password))">Password must be longer
          than 4 characters
        </div>
        <div class="input-wrapper">
          <input type="submit" value="Submit"/>
        </div>
      </form>

    </div>

  </div>

  <script>
      new Vue({
          el: '#main',
          data: {
              email: '',
              password: '',
              checking: false,
              invalid: false,
              invalidEmail: false,
              submitted: false,
              success: false,
              unknownError: false
          },
          computed: {
              code() {
                  return new URLSearchParams(window.location.search).get('code')
              }
          },
          mounted() {
              this.checkCode()
          },
          methods: {
              checkCode() {
                  if (!this.code) {
                      this.invalid = true
                  } else {
                      this.checking = true
                      fetch(window.location.origin + '/password-reset/check_code', {
                          method: 'POST',
                          headers: { 'Content-Type': 'application/json' },
                          body: JSON.stringify({ code: this.code })
                      })
                          .then(res => res.ok ? Promise.resolve() : Promise.reject(res))
                          .then(() => {
                              this.checking = false
                          })
                          .catch((res) => {
                              this.checking = false
                              this.invalid = true
                              if (res.status !== 404) {
                                  this.unknownError = true
                              }
                          })
                  }
              },
              submit() {
                  this.submitted = true
                  if (this.email && this.validEmail(this.email) && this.password.length >= 4) {
                      this.checking = true
                      fetch(window.location.origin + '/password-reset/set', {
                          method: 'POST',
                          headers: { 'Content-Type': 'application/json' },
                          body: JSON.stringify({ code: this.code, email: this.email, newPassword: this.password })
                      })
                          .then(res => res.json())
                          .then((json) => {
                              this.checking = false
                              if (json.error && json.message === 'email') {
                                  this.invalidEmail = true
                              } else if(json.error) {
                                  this.invalid = true
                              } else {
                                  this.success = true
                              }
                          })
                          .catch(() => {
                              this.checking = false
                              this.invalid = true
                              this.unknownError = true
                          })
                  }
              },
              validEmail(email) {
                  const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                  return re.test(String(email).toLowerCase())
              },
              validPassword(password) {
                  return password.length >= 4
              }
          }
      })
  </script>
</body>
</html>
